<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="31"
    android:versionName="3.1.0">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config">

        <!-- Main Activity -->
        <activity
            android:name=".screens.MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".screens.SettingsActivity"
            android:parentActivityName=".screens.MainActivity"
            android:exported="false" />

        <!-- Game Selection Activity -->
        <activity
            android:name=".screens.GameSelectionActivity"
            android:parentActivityName=".screens.MainActivity" />

        <!-- Language Selection Activity -->
        <activity
            android:name=".screens.LanguageSelectionActivity"
            android:parentActivityName=".screens.GameSelectionActivity" />

        <!-- Language Game Activity -->
        <activity
            android:name=".screens.LanguageGameActivity"
            android:parentActivityName=".screens.LanguageSelectionActivity" />

        <!-- Math Game Activity -->
        <activity
            android:name=".screens.MathGameActivity"
            android:parentActivityName=".screens.GameSelectionActivity" />

        <!-- Guessing Game Activity -->
        <activity
            android:name=".screens.GuessingGameActivity"
            android:parentActivityName=".screens.GameSelectionActivity" />

        <!-- Game Over Activity -->
        <activity
            android:name=".screens.GameOverActivity" />

        <!-- Leaderboard Activity -->
        <activity
            android:name=".ui.screens.LeaderboardActivity"
            android:parentActivityName=".screens.MainActivity"
            android:exported="false" />

    </application>
</manifest>
