<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="27"
    android:versionName="@string/versionname">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/lightTheme">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Language Game Activity -->
        <activity
            android:name=".LanguageGame"
            android:label="@string/title_activity_language_test"
            android:theme="@style/lightTheme" />

        <!-- Pause Menu Activity -->
        <activity android:name=".PauseMenu" />

        <!-- Settings Activity -->
        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity" />

        <!-- Choose Language Game Activity -->
        <activity android:name=".ChooseLanguageGame" />

        <!-- Choose Game Activity -->
        <activity
            android:name=".ChooseGame"
            android:theme="@style/lightTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Math Game Activity -->
        <activity
            android:name=".MathGame"
            android:theme="@style/lightTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseGame" />
        </activity>

        <!-- Guessing Game Activity -->
        <activity
            android:name=".GuessingGame"
            android:theme="@style/lightTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseGame" />
        </activity>

        <!-- Game Over Activity -->
        <activity
            android:name=".GameOver"
            android:theme="@style/lightTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>
</manifest>
