<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="31"
    android:versionName="3.1.0">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/lightTheme">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Language Game Activity -->
        <activity
            android:name=".LanguageGame"
            android:parentActivityName=".ChooseLanguageGame"
            android:label="@string/title_activity_language_test"/>


        <!-- Pause Menu Activity -->
        <activity
            android:name=".PauseMenu" />


        <!-- Settings Activity -->
        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity" />


        <!-- Choose Language Game Activity -->
        <activity
            android:name=".ChooseLanguageGame" />


        <!-- Choose Game Activity -->
        <activity
            android:name=".ChooseGame"
            android:parentActivityName=".MainActivity" />


        <!-- Math Game Activity -->
        <activity
            android:name=".MathGame"
            android:parentActivityName=".ChooseGame" />


        <!-- Guessing Game Activity -->
        <activity
            android:name=".GuessingGame"
            android:parentActivityName=".ChooseGame" />


        <!-- Game Over Activity -->
        <activity
            android:name=".GameOver" />

    </application>
</manifest>
